<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	@await RenderSectionAsync("Head", required: false)
</head>
<body>
	<nav>
		<a href="/">Todos</a>
		<a href="/Admin/Stats">Stats</a>
		<a href="/Remote">Remote</a>
		<a href="/Hello">Hello (MVC)</a>
	</nav>
	@RenderBody()
</body>
</html>
